.nav-left {
    text-decoration: none;
    color: black;
    margin-top: 5px;
}

.nav-bar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-left {
    padding: 5px;
}

.nav-right {
    display: flex;
    justify-content: end;

}

.nav-right a {
    background-color: #ffc107;
    padding: 5px;
    border-radius: 7px;
    color: black;
    text-decoration: none;
    margin-right: 10px;
}

.nav-right a:hover {
    background-color: black;
    color: #ffc107;
}